<div class="container">
    <h1>Sklep</h1>

    @for (product of products; track $index) {
    <div class="m-4 border p-4">
        <div class="row">
            <div class="col-sm">
                <img [src]="product.image" [alt]="product.name" />
            </div>
            <div class="col-sm">
                <h2>{{ product.name }}</h2>
                <p>Cena: {{ product.price}} zł</p>
            </div>
            <div class="col-sm">
                <p>Ilość: </p>
          <input type="number" class="form-control" style="max-width: 200px;"/>
                <button class="btn btn-primary mt-3">Dodaj do koszyka</button>
            </div>
        </div>    
    </div>
    }

    <h1>Zawartość koszyka</h1>
    
</div>


